@import "~bulma/sass/utilities/initial-variables";
@import "~bulma";
@import "./variables";
@import "./fonts";
@import "./animations";
@import "./nav";
@import "./projects";

body {
  color: $grey-dark;
  font-family: $serif;
  font-size: 1.2rem;
}

p {
  @extend body;
}

h1 {
  color: $grey-darker;
  font-family: $sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  color: $grey;
  font-family: $sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

.body-slim {
  @extend .is-four-fifths-mobile;
  @extend .is-three-quarters-tablet;
  @extend .is-two-thirds-desktop;
  @extend .is-half-widescreen;
  @extend .is-half-fullhd;
  margin: 0px auto;
}

.body-medium {
  @extend .is-four-fifths-mobile;
  @extend .is-four-fifths-tablet;
  @extend .is-three-quarters-desktop;
  @extend .is-three-quarters-widescreen;
  @extend .is-three-quarters-fullhd;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
}
