@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600,700|Poppins:400,500,600,700|Source+Serif+Pro:400,700|Vollkorn:400,400i');

$poppins: 'Poppins', 'Fira Sans', 'Helvetica', sans-serif;
$vollkorn: 'Vollkorn', 'Time New Roman', serif;
$serif: 'Source Serif Pro', serif;
$sans-serif: 'Fira Sans', 'Helvetica', sans-serif;

.link-animate {
  color: $bp-blue;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: 300ms;

  &:hover {
    transform: translateX(-2px);
  }

  &:hover .fa {
    transform: translateX(8px);
  }

  &:before {
    background: $bp-blue-10;
    content: '';
    display: block;
    position: absolute;
    left: 10px;
    bottom: -2px;
    height: 20px;
    width: 0;
    -webkit-transition: width 0s ease, background .5s ease;
            transition: width 0s ease, background .5s ease;
  }

  &:after {
    background: $bp-blue-10;
    content: '';
    display: block;
    position: absolute;
    right: -10px;
    bottom: -2px;
    height: 20px;
    width: 0;
    -webkit-transition: width .5s ease;
            transition: width .5s ease;
  }

  &:hover:before {
    width: 100%;
    -webkit-transition: width .5s ease;
            transition: width .5s ease;
  }

  &:hover:after {
    background: transparent;
    width: 100%;
    -webkit-transition: all 0s ease;
            transition: all 0s ease;
  }
}
