.project-cards-container {

}

.project-card {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 420px;
  margin: 20px;
  padding: 0px;
  background-color: white;
  vertical-align: top;
  text-align: left;
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
  white-space: normal;
  cursor: pointer;

  &:hover {
    // box-shadow: inset 20px 0 80px #f0f;
  }
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $grey-dark;
}

.title-projects {
  font-weight: 400;
  font-family: $poppins;
}

.title-image {
  display: inline;
  height: 32px;
  width: 32px;
  margin: 0px 15px;
}

.title-blueprint {
  font-weight: 600;
  font-family: $poppins;
}

.progress {
  background: linear-gradient(to right, $bp-blue var(--scroll), transparent 0);
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 4px;
  z-index: 999;
}

.project-body {
  @extend .body-slim;
}

.project-intro {
  margin: 0px auto;
  font-family: $vollkorn;
  font-size: 1.5rem;
  font-style: italic;
  color: $grey;
}

.project-image {
  display: block;
  max-width: 500px;
  max-height: 580px;
  margin: 40px auto;
}

.project-feature {
  margin: 48px 0px;
}

.project-feature-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.project-feature-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bp-blue-20;
  color: $bp-blue;
  font-family: $sans-serif;
  font-weight: 600;
}

.project-feature-name {
  display: inline-block;
  margin-left: 15px;
  font-weight: 600;
  color: $grey-dark;
}
