.project-cards-container {

}

.project-card {
  display: inline-block;
  position: relative;
  width: 355px;
  height: 480px;
  margin: 20px;
  padding: 0px;
  background-color: white;
  vertical-align: top;
  text-align: left;
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
  white-space: normal;
  cursor: pointer;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-projects {
  font-weight: 500;
  font-family: $poppins;
}

.title-image {
  display: inline;
  height: 32px;
  width: 32px;
  margin: 0px 15px;
}

.title-blueprint {
  font-weight: bold;
  font-family: $poppins;
}
