.project-cards-container {

}

.project-card {
  display: inline-block;
  position: relative;
  width: 355px;
  height: 480px;
  margin: 20px;
  padding: 0px;
  background-color: white;
  vertical-align: top;
  text-align: left;
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
  white-space: normal;
  cursor: pointer;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $grey-dark;
}

.title-projects {
  font-weight: 400;
  font-family: $poppins;
}

.title-image {
  display: inline;
  height: 32px;
  width: 32px;
  margin: 0px 15px;
}

.title-blueprint {
  font-weight: 600;
  font-family: $poppins;
}

.progress {
  background: linear-gradient(to right, $bp-blue var(--scroll), transparent 0);
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 4px;
  z-index: 999;
}

.project-body {
  @extend .is-four-fifths-mobile;
  @extend .is-three-quarters-tablet;
  @extend .is-two-thirds-desktop;
  @extend .is-half-widescreen;
  @extend .is-half-fullhd;
  margin: 0px auto;
}

.project-intro {
  font-family: $vollkorn;
  font-size: 1.5rem;
  font-style: italic;
  color: $grey;
}

.project-image {
  display: block;
  max-width: 500px;
  margin: 40px auto;
}

.project-feature-number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bp-blue;
  color: $white; 
}
