.project-cards-container {

}

.project-card {
  display: inline-block;
  position: relative;
  width: 355px;
  height: 480px;
  margin: 20px;
  padding: 0px;
  background-color: white;
  vertical-align: top;
  text-align: left;
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
  white-space: normal;
  cursor: pointer;
}
